html {
  background: #222;
  color: #fafafa;
  font-size: 20px;
}

header {
  background: #222;
  position: sticky;
  top: 0;
  z-index: 1;
}
a {
  color: inherit;
  text-decoration: none;
}
h2 {
  font-size: 1.1em;
  margin: 0;
}
time {
  font-size: smaller;
}

.avatar {
  border-radius: 9999px;
  float: left;
  margin: 0 .5em .5em 0;
}

.tiles {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
  list-style: none;
  padding: 0;
}
.tiles + .tiles {
  border-top: 1px solid;
  padding-top: 1em;
}
.tiles > .tile {
  grid-column-start: auto;
  max-width: 23em;
  overflow: hidden;
  padding: 1em 1em 1em 0;
}
.tiles > .tile-top {
  grid-column-start: 1;
}
.tile-content--regular {
  opacity: .62;
}
.tile-content--highlighted {
  opacity: 1;
}
