@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/UbuntuMono-R.ttf');
}

html {
  background: #222;
  color: #fafafa;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  line-height: 1.2;
}
* {
  background: inherit;
  color: inherit;
  font-family: inherit;
}

header {
  background: #222;
  position: sticky;
  top: 0;
  z-index: 2;
}
a {
  color: inherit;
  text-decoration: none;
}
h2 {
  font-size: 1.1em;
  margin: 0;
}
time {
  font-size: smaller;
}

.avatar {
  border-radius: 9999px;
  float: left;
  margin: 0 .5em .5em 0;
  position: relative;
  z-index: 1;
}

.tiles {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
  list-style: none;
  padding: 0;
}
.tiles + .tiles {
  border-top: 1px solid;
  padding-top: 1em;
}
.tiles > .tile {
  cursor: default;
  grid-column-start: auto;
  max-width: 23em;
  overflow: hidden;
  padding: 1em 1em 1em 0;
}
.tiles > .tile-top {
  grid-column-start: 1;
}

.dimmed > * {
  opacity: .62;
}
.hide, .shine, .twinkle {
  opacity: 0;
}
.shine {
  animation: shine 9s infinite;
}
.twinkle {
  animation: twinkle 9s infinite;
}
.hide:hover {
  opacity: .62 !important;
}
.shine:hover, .twinkle:hover {
  opacity: 1 !important;
}
.shine:nth-child(2n), .twinkle:nth-child(2n) {
  animation-delay: 1s;
}
.shine:nth-child(3n), .twinkle:nth-child(3n) {
  animation-delay: 2s;
}
.shine:nth-child(4n), .twinkle:nth-child(4n) {
  animation-delay: 3s;
}
.shine:nth-child(5n), .twinkle:nth-child(5n) {
  animation-delay: 4s;
}
.shine:nth-child(6n), .twinkle:nth-child(6n) {
  animation-delay: 5s;
}
.shine:nth-child(7n), .twinkle:nth-child(7n) {
  animation-delay: 6s;
}
.shine:nth-child(8n), .twinkle:nth-child(8n) {
  animation-delay: 7s;
}
.shine:nth-child(9n), .twinkle:nth-child(9n) {
  animation-delay: 8s;
}

@keyframes shine {
  0% {opacity: 0}
  10% {opacity: 1}
  62% {opacity: 1}
  81% {opacity: 0}
}

@keyframes twinkle {
  0% {opacity: 0}
  10% {opacity: 1}
  19% {opacity: 1}
  38% {opacity: 0}
}
